In [3]:
import pandas as pd

## Confirmed cases

In [4]:
url_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
confirmed = pd.read_csv(url_confirmed)
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55514,55518,55540,55557,55575,55580,55604,55617,55646,55664
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,93850,94651,95726,96838,97909,99062,100246,101285,102306,103327
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,110894,111069,111247,111418,111600,111764,111917,112094,112279,112461
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,10538,10555,10583,10610,10645,10672,10699,10712,10739,10775
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,20381,20389,20400,20452,20478,20499,20519,20548,20584,20640

In [5]:
total_confirmed = confirmed.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = confirmed.columns[4:],
    var_name = "date",
    value_name = "confirmed"
)
total_confirmed.head()

  Province/State Country/Region       Lat       Long     date  confirmed
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

## Deaths

In [6]:
url_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
deaths = pd.read_csv(url_deaths)
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2427,2428,2428,2430,2430,2430,2432,2433,2435,2436
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1567,1582,1600,1617,1636,1653,1666,1681,1696,1715
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2943,2945,2947,2950,2954,2958,2961,2964,2967,2970
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,107,107,107,107,107,107,107,109,110,110
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,493,494,496,498,498,498,499,499,500,501

In [7]:
total_deaths = deaths.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = deaths.columns[4:],
    var_name = "date",
    value_name = "deaths"
)
total_deaths.head()

  Province/State Country/Region       Lat       Long     date  deaths
0            NaN    Afghanistan  33.93911  67.709953  1/22/20       0
1            NaN        Albania  41.15330  20.168300  1/22/20       0
2            NaN        Algeria  28.03390   1.659600  1/22/20       0
3            NaN        Andorra  42.50630   1.521800  1/22/20       0
4            NaN         Angola -11.20270  17.873900  1/22/20       0

## Recovered cases

In [8]:
url_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
recovered = pd.read_csv(url_recovered)
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48433,48514,48626,48798,48803,48820,48834,48895,48967,49086
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,57736,58794,59684,60675,61605,62533,63329,64318,65403,66309
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,76168,76330,76489,76640,76797,76940,77076,77225,77382,77537
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,9965,10022,10066,10101,10146,10170,10206,10245,10285,10319
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,18884,18929,18951,18972,18991,19005,19013,19190,19207,19221

In [9]:
total_recovered = recovered.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = recovered.columns[4:],
    var_name = "date",
    value_name = "recovered"
)
total_recovered.head()

  Province/State Country/Region       Lat       Long     date  recovered
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

## Merge data frames

In [10]:
covid_data = total_confirmed.merge(
    right = total_deaths,
    how = "left",
    on = ["Province/State", "Country/Region", "date", "Lat", "Long"]
).merge(
    right = total_recovered,
    how = "left",
    on = ["Province/State", "Country/Region", "date", "Lat", "Long"]
)
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

## Parse date

In [11]:
covid_data["date"] = pd.to_datetime(covid_data["date"])

## NaNs

In [12]:
covid_data.isna().sum()

Province/State    75600
Country/Region        0
Lat                 400
Long                400
date                  0
confirmed             0
deaths                0
recovered          8400
dtype: int64

In [13]:
covid_data["recovered"] = covid_data["recovered"].fillna(0)
covid_data.isna().sum()

Province/State    75600
Country/Region        0
Lat                 400
Long                400
date                  0
confirmed             0
deaths                0
recovered             0
dtype: int64

## Active cases

In [14]:
covid_data["active"] = covid_data["confirmed"] - covid_data["deaths"] - covid_data["recovered"]
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered,active
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,0.0

## Get last updated date

In [15]:
covid_data["date"].tail()

109595   2021-02-24
109596   2021-02-24
109597   2021-02-24
109598   2021-02-24
109599   2021-02-24
Name: date, dtype: datetime64[ns]

In [16]:
covid_data["date"].iloc[-1].strftime("%B %d, %Y")

'February 24, 2021'

## Total confirmed cases

In [17]:
covid_data_1 = covid_data.groupby(["date"])[["confirmed", "deaths", "recovered", "active"]].sum().reset_index()
covid_data_1.head()

        date  confirmed  deaths  recovered  active
0 2020-01-22        557      17       30.0   510.0
1 2020-01-23        655      18       32.0   605.0
2 2020-01-24        941      26       39.0   876.0
3 2020-01-25       1433      42       42.0  1349.0
4 2020-01-26       2118      56       56.0  2006.0

In [18]:
covid_data_1["confirmed"].iloc[-1]

112554301

## Shift values

In [20]:
covid_data_2 = covid_data.groupby(["date", "Country/Region"])[["confirmed", "deaths", "recovered", "active"]].sum().reset_index()
covid_data_3 = covid_data_2[covid_data_2["Country/Region"] == "Uruguay"][["Country/Region", "date", "confirmed"]].reset_index()
covid_data_3["daily_confirmed"] = covid_data_3["confirmed"] - covid_data_3["confirmed"].shift(1)
covid_data_3

     index Country/Region       date  confirmed  daily_confirmed
0      183        Uruguay 2020-01-22          0              NaN
1      375        Uruguay 2020-01-23          0              0.0
2      567        Uruguay 2020-01-24          0              0.0
3      759        Uruguay 2020-01-25          0              0.0
4      951        Uruguay 2020-01-26          0              0.0
..     ...            ...        ...        ...              ...
395  76023        Uruguay 2021-02-20      52163            786.0
396  76215        Uruguay 2021-02-21      52815            652.0
397  76407        Uruguay 2021-02-22      53310            495.0
398  76599        Uruguay 2021-02-23      53973            663.0
399  76791        Uruguay 2021-02-24      54874            901.0

[400 rows x 5 columns]

## Rolling avg

In [22]:
covid_data_3["rolling_avg"] = covid_data_3["daily_confirmed"].rolling(window = 7).mean()
covid_data_3

     index Country/Region       date  confirmed  daily_confirmed  rolling_avg
0      183        Uruguay 2020-01-22          0              NaN          NaN
1      375        Uruguay 2020-01-23          0              0.0          NaN
2      567        Uruguay 2020-01-24          0              0.0          NaN
3      759        Uruguay 2020-01-25          0              0.0          NaN
4      951        Uruguay 2020-01-26          0              0.0          NaN
..     ...            ...        ...        ...              ...          ...
395  76023        Uruguay 2021-02-20      52163            786.0   529.142857
396  76215        Uruguay 2021-02-21      52815            652.0   558.000000
397  76407        Uruguay 2021-02-22      53310            495.0   564.285714
398  76599        Uruguay 2021-02-23      53973            663.0   606.857143
399  76791        Uruguay 2021-02-24      54874            901.0   666.571429

[400 rows x 6 columns]

## Add lat and long

In [24]:
covid_data_4 = covid_data.groupby(["Lat", "Long", "Country/Region"])[["confirmed", "deaths", "recovered", "active"]].sum().reset_index()
covid_data_4

,Lat,Long,Country/Region,confirmed,deaths,recovered,active
0,-51.7963,-59.5236,United Kingdom,5993,0,5186.0,807.0
1,-42.8821,147.3272,Australia,74324,4084,66215.0,4025.0
2,-40.9006,174.8860,New Zealand,597020,7366,551865.0,37789.0
3,-38.4161,-63.6167,Argentina,251978796,6415070,213693910.0,31869816.0
4,-37.8136,144.9631,Australia,4420325,155451,3919600.0,345274.0
...,...,...,...,...,...,...,...
267,64.2823,-135.0000,Canada,9262,118,0.0,9144.0
268,64.8255,-124.8457,Canada,3985,0,0.0,3985.0
269,64.9631,-19.0208,Iceland,1136185,5269,1038628.0,92288.0
270,70.2998,-83.1076,Canada,25352,67,0.0,25285.0
271,71.7069,-42.6043,Denmark,5720,0,5402.0,318.0

## Dict of list

In [25]:
covid_data_list = covid_data[["Country/Region", "Lat", "Long"]]
covid_data_list

            Country/Region        Lat        Long
0              Afghanistan  33.939110   67.709953
1                  Albania  41.153300   20.168300
2                  Algeria  28.033900    1.659600
3                  Andorra  42.506300    1.521800
4                   Angola -11.202700   17.873900
...                    ...        ...         ...
109595             Vietnam  14.058324  108.277199
109596  West Bank and Gaza  31.952200   35.233200
109597               Yemen  15.552727   48.516388
109598              Zambia -13.133897   27.849332
109599            Zimbabwe -19.015438   29.154857

[109600 rows x 3 columns]

In [27]:
dict_of_locations = covid_data_list.set_index("Country/Region")[["Lat", "Long"]].T.to_dict("dict")
dict_of_locations

{'Afghanistan': {'Lat': 33.93911, 'Long': 67.709953},
 'Albania': {'Lat': 41.1533, 'Long': 20.1683},
 'Algeria': {'Lat': 28.0339, 'Long': 1.6596},
 'Andorra': {'Lat': 42.5063, 'Long': 1.5218},
 'Angola': {'Lat': -11.2027, 'Long': 17.8739},
 'Antigua and Barbuda': {'Lat': 17.0608, 'Long': -61.7964},
 'Argentina': {'Lat': -38.4161, 'Long': -63.6167},
 'Armenia': {'Lat': 40.0691, 'Long': 45.0382},
 'Australia': {'Lat': -31.9505, 'Long': 115.8605},
 'Austria': {'Lat': 47.5162, 'Long': 14.5501},
 'Azerbaijan': {'Lat': 40.1431, 'Long': 47.5769},
 'Bahamas': {'Lat': 25.025885, 'Long': -78.035889},
 'Bahrain': {'Lat': 26.0275, 'Long': 50.55},
 'Bangladesh': {'Lat': 23.685, 'Long': 90.3563},
 'Barbados': {'Lat': 13.1939, 'Long': -59.5432},
 'Belarus': {'Lat': 53.7098, 'Long': 27.9534},
 'Belgium': {'Lat': 50.8333, 'Long': 4.469936},
 'Belize': {'Lat': 17.1899, 'Long': -88.4976},
 'Benin': {'Lat': 9.3077, 'Long': 2.3158},
 'Bhutan': {'Lat': 27.5142, 'Long': 90.4336},
 'Bolivia': {'Lat': -16.2902, 'Long': -63.5887},
 'Bosnia and Herzegovina': {'Lat': 43.9159, 'Long': 17.6791},
 'Botswana': {'Lat': -22.3285, 'Long': 24.6849},
 'Brazil': {'Lat': -14.235, 'Long': -51.9253},
 'Brunei': {'Lat': 4.5353, 'Long': 114.7277},
 'Bulgaria': {'Lat': 42.7339, 'Long': 25.4858},
 'Burkina Faso': {'Lat': 12.2383, 'Long': -1.5616},
 'Burma': {'Lat': 21.9162, 'Long': 95.956},
 'Burundi': {'Lat': -3.3731, 'Long': 29.9189},
 'Cabo Verde': {'Lat': 16.5388, 'Long': -23.0418},
 'Cambodia': {'Lat': 11.55, 'Long': 104.9167},
 'Cameroon': {'Lat': 3.8480000000000003, 'Long': 11.5021},
 'Canada': {'Lat': 64.2823, 'Long': -135.0},
 'Central African Republic': {'Lat': 6.6111, 'Long': 20.9394},
 'Chad': {'Lat': 15.4542, 'Long': 18.7322},
 'Chile': {'Lat': -35.6751, 'Long': -71.543},
 'China': {'Lat': 29.1832, 'Long': 120.0934},
 'Colombia': {'Lat': 4.5709, 'Long': -74.2973},
 'Comoros': {'Lat': -11.6455, 'Long': 43.3333},
 'Congo (Brazzaville)': {'Lat': -0.228, 'Long': 15.8277},
 'Congo (Kinshasa)': {'Lat': -4.0383, 'Long': 21.7587},
 'Costa Rica': {'Lat': 9.7489, 'Long': -83.7534},
 "Cote d'Ivoire": {'Lat': 7.54, 'Long': -5.5471},
 'Croatia': {'Lat': 45.1, 'Long': 15.2},
 'Cuba': {'Lat': 21.521757, 'Long': -77.78116700000001},
 'Cyprus': {'Lat': 35.1264, 'Long': 33.4299},
 'Czechia': {'Lat': 49.8175, 'Long': 15.472999999999999},
 'Denmark': {'Lat': 56.2639, 'Long': 9.5018},
 'Diamond Princess': {'Lat': 0.0, 'Long': 0.0},
 'Djibouti': {'Lat': 11.8251, 'Long': 42.5903},
 'Dominica': {'Lat': 15.415, 'Long': -61.371},
 'Dominican Republic': {'Lat': 18.7357, 'Long': -70.1627},
 'Ecuador': {'Lat': -1.8312, 'Long': -78.1834},
 'Egypt': {'Lat': 26.820553000000004, 'Long': 30.802497999999996},
 'El Salvador': {'Lat': 13.7942, 'Long': -88.8965},
 'Equatorial Guinea': {'Lat': 1.6508, 'Long': 10.2679},
 'Eritrea': {'Lat': 15.1794, 'Long': 39.7823},
 'Estonia': {'Lat': 58.5953, 'Long': 25.0136},
 'Eswatini': {'Lat': -26.5225, 'Long': 31.4659},
 'Ethiopia': {'Lat': 9.145, 'Long': 40.4897},
 'Fiji': {'Lat': -17.7134, 'Long': 178.065},
 'Finland': {'Lat': 61.92411, 'Long': 25.748151},
 'France': {'Lat': 46.2276, 'Long': 2.2137},
 'Gabon': {'Lat': -0.8037, 'Long': 11.6094},
 'Gambia': {'Lat': 13.4432, 'Long': -15.3101},
 'Georgia': {'Lat': 42.3154, 'Long': 43.3569},
 'Germany': {'Lat': 51.165690999999995, 'Long': 10.451526},
 'Ghana': {'Lat': 7.9465, 'Long': -1.0232},
 'Greece': {'Lat': 39.0742, 'Long': 21.8243},
 'Grenada': {'Lat': 12.1165, 'Long': -61.678999999999995},
 'Guatemala': {'Lat': 15.7835, 'Long': -90.2308},
 'Guinea': {'Lat': 9.9456, 'Long': -9.6966},
 'Guinea-Bissau': {'Lat': 11.8037, 'Long': -15.1804},
 'Guyana': {'Lat': 4.860416000000001, 'Long': -58.93018000000001},
 'Haiti': {'Lat': 18.9712, 'Long': -72.2852},
 'Holy See': {'Lat': 41.9029, 'Long': 12.4534},
 'Honduras': {'Lat': 15.2, 'Long': -86.2419},
 'Hungary': {'Lat': 47.1625, 'Long': 19.5033},
 'Iceland': {'Lat': 64.9631, 'Long': -19.0208},
 'India': {'Lat': 20.593684, 'Long': 78.96288},
 'Indonesia': {'Lat': -0.7893, 'Long': 113.9213},
 'Iran': {'Lat': 32.427908, 'Long': 53.68804599999999},
 'Iraq': {'Lat': 33.223191, 'Long': 43.679291},
 'Ireland': {'Lat': 53.1424, 'Long': -7.6921},
 'Israel': {'Lat': 31.046051000000002, 'Long': 34.851612},
 'Italy': {'Lat': 41.87194, 'Long': 12.56738},
 'Jamaica': {'Lat': 18.1096, 'Long': -77.2975},
 'Japan': {'Lat': 36.204824, 'Long': 138.252924},
 'Jordan': {'Lat': 31.24, 'Long': 36.51},
 'Kazakhstan': {'Lat': 48.0196, 'Long': 66.9237},
 'Kenya': {'Lat': -0.0236, 'Long': 37.9062},
 'Korea, South': {'Lat': 35.907757000000004, 'Long': 127.766922},
 'Kosovo': {'Lat': 42.602636, 'Long': 20.902977},
 'Kuwait': {'Lat': 29.311659999999996, 'Long': 47.481766},
 'Kyrgyzstan': {'Lat': 41.20438, 'Long': 74.766098},
 'Laos': {'Lat': 19.856270000000002, 'Long': 102.495496},
 'Latvia': {'Lat': 56.8796, 'Long': 24.6032},
 'Lebanon': {'Lat': 33.8547, 'Long': 35.8623},
 'Lesotho': {'Lat': -29.61, 'Long': 28.2336},
 'Liberia': {'Lat': 6.4280550000000005, 'Long': -9.429499},
 'Libya': {'Lat': 26.3351, 'Long': 17.228331},
 'Liechtenstein': {'Lat': 47.14, 'Long': 9.55},
 'Lithuania': {'Lat': 55.1694, 'Long': 23.8813},
 'Luxembourg': {'Lat': 49.8153, 'Long': 6.1296},
 'MS Zaandam': {'Lat': 0.0, 'Long': 0.0},
 'Madagascar': {'Lat': -18.766947000000002, 'Long': 46.869107},
 'Malawi': {'Lat': -13.2543, 'Long': 34.3015},
 'Malaysia': {'Lat': 4.210483999999999, 'Long': 101.97576600000001},
 'Maldives': {'Lat': 3.2028, 'Long': 73.2207},
 'Mali': {'Lat': 17.570692, 'Long': -3.9961660000000006},
 'Malta': {'Lat': 35.9375, 'Long': 14.3754},
 'Marshall Islands': {'Lat': 7.1315, 'Long': 171.1845},
 'Mauritania': {'Lat': 21.0079, 'Long': -10.9408},
 'Mauritius': {'Lat': -20.348404000000002, 'Long': 57.552152},
 'Mexico': {'Lat': 23.6345, 'Long': -102.5528},
 'Micronesia': {'Lat': 7.4256, 'Long': 150.5508},
 'Moldova': {'Lat': 47.4116, 'Long': 28.3699},
 'Monaco': {'Lat': 43.7333, 'Long': 7.4167},
 'Mongolia': {'Lat': 46.8625, 'Long': 103.8467},
 'Montenegro': {'Lat': 42.708678000000006, 'Long': 19.37439},
 'Morocco': {'Lat': 31.7917, 'Long': -7.0926},
 'Mozambique': {'Lat': -18.665695, 'Long': 35.529562},
 'Namibia': {'Lat': -22.9576, 'Long': 18.4904},
 'Nepal': {'Lat': 28.1667, 'Long': 84.25},
 'Netherlands': {'Lat': 52.1326, 'Long': 5.2913},
 'New Zealand': {'Lat': -40.9006, 'Long': 174.886},
 'Nicaragua': {'Lat': 12.865416, 'Long': -85.207229},
 'Niger': {'Lat': 17.607789, 'Long': 8.081666},
 'Nigeria': {'Lat': 9.082, 'Long': 8.6753},
 'North Macedonia': {'Lat': 41.6086, 'Long': 21.7453},
 'Norway': {'Lat': 60.472, 'Long': 8.4689},
 'Oman': {'Lat': 21.512583, 'Long': 55.923255000000005},
 'Pakistan': {'Lat': 30.3753, 'Long': 69.3451},
 'Panama': {'Lat': 8.538, 'Long': -80.7821},
 'Papua New Guinea': {'Lat': -6.314993, 'Long': 143.95555},
 'Paraguay': {'Lat': -23.4425, 'Long': -58.4438},
 'Peru': {'Lat': -9.19, 'Long': -75.0152},
 'Philippines': {'Lat': 12.879721, 'Long': 121.77401699999999},
 'Poland': {'Lat': 51.9194, 'Long': 19.1451},
 'Portugal': {'Lat': 39.3999, 'Long': -8.2245},
 'Qatar': {'Lat': 25.3548, 'Long': 51.1839},
 'Romania': {'Lat': 45.9432, 'Long': 24.9668},
 'Russia': {'Lat': 61.52401, 'Long': 105.31875600000001},
 'Rwanda': {'Lat': -1.9403, 'Long': 29.8739},
 'Saint Kitts and Nevis': {'Lat': 17.357822, 'Long': -62.782998},
 'Saint Lucia': {'Lat': 13.9094, 'Long': -60.9789},
 'Saint Vincent and the Grenadines': {'Lat': 12.9843, 'Long': -61.2872},
 'Samoa': {'Lat': -13.759, 'Long': -172.1046},
 'San Marino': {'Lat': 43.9424, 'Long': 12.4578},
 'Sao Tome and Principe': {'Lat': 0.1864, 'Long': 6.6131},
 'Saudi Arabia': {'Lat': 23.885942, 'Long': 45.079162},
 'Senegal': {'Lat': 14.4974, 'Long': -14.4524},
 'Serbia': {'Lat': 44.0165, 'Long': 21.0059},
 'Seychelles': {'Lat': -4.6796, 'Long': 55.492},
 'Sierra Leone': {'Lat': 8.460555000000001, 'Long': -11.779889},
 'Singapore': {'Lat': 1.2833, 'Long': 103.8333},
 'Slovakia': {'Lat': 48.669, 'Long': 19.699},
 'Slovenia': {'Lat': 46.1512, 'Long': 14.9955},
 'Solomon Islands': {'Lat': -9.6457, 'Long': 160.1562},
 'Somalia': {'Lat': 5.152149, 'Long': 46.199616},
 'South Africa': {'Lat': -30.5595, 'Long': 22.9375},
 'South Sudan': {'Lat': 6.877000000000001, 'Long': 31.307},
 'Spain': {'Lat': 40.463667, 'Long': -3.7492199999999998},
 'Sri Lanka': {'Lat': 7.873054, 'Long': 80.77179699999999},
 'Sudan': {'Lat': 12.8628, 'Long': 30.2176},
 'Suriname': {'Lat': 3.9193, 'Long': -56.0278},
 'Sweden': {'Lat': 60.128161, 'Long': 18.643501},
 'Switzerland': {'Lat': 46.8182, 'Long': 8.2275},
 'Syria': {'Lat': 34.802075, 'Long': 38.996815000000005},
 'Taiwan*': {'Lat': 23.7, 'Long': 121.0},
 'Tajikistan': {'Lat': 38.861, 'Long': 71.2761},
 'Tanzania': {'Lat': -6.369028, 'Long': 34.888822},
 'Thailand': {'Lat': 15.870032, 'Long': 100.992541},
 'Timor-Leste': {'Lat': -8.874217, 'Long': 125.727539},
 'Togo': {'Lat': 8.6195, 'Long': 0.8248},
 'Trinidad and Tobago': {'Lat': 10.6918, 'Long': -61.2225},
 'Tunisia': {'Lat': 33.886917, 'Long': 9.537499},
 'Turkey': {'Lat': 38.9637, 'Long': 35.2433},
 'US': {'Lat': 40.0, 'Long': -100.0},
 'Uganda': {'Lat': 1.373333, 'Long': 32.290275},
 'Ukraine': {'Lat': 48.3794, 'Long': 31.1656},
 'United Arab Emirates': {'Lat': 23.424076, 'Long': 53.847818000000004},
 'United Kingdom': {'Lat': 55.3781, 'Long': -3.4360000000000004},
 'Uruguay': {'Lat': -32.5228, 'Long': -55.7658},
 'Uzbekistan': {'Lat': 41.377491, 'Long': 64.585262},
 'Vanuatu': {'Lat': -15.3767, 'Long': 166.9592},
 'Venezuela': {'Lat': 6.4238, 'Long': -66.5897},
 'Vietnam': {'Lat': 14.058323999999999, 'Long': 108.277199},
 'West Bank and Gaza': {'Lat': 31.9522, 'Long': 35.2332},
 'Yemen': {'Lat': 15.552726999999999, 'Long': 48.516388},
 'Zambia': {'Lat': -13.133897, 'Long': 27.849332},
 'Zimbabwe': {'Lat': -19.015438, 'Long': 29.154857}}